extends layout 
 
block content 
  div.container(style='border: 2px solid #001253; width: 450px;')
    h1(style="text-align: center; color: red;")= title 
    br
    - let dishId = toShow._id
    - let dishName = toShow.dishName 
    - let dishPrice = toShow.dishPrice 
    - let mainIngredient = toShow.mainIngredient

    div(class='container' style="text-align: center; width: 450px;")
      div.row(class='mb-2') 
        div(class='italianDishAttr col-4') ID is 
        div(class='data col-6') #{dishId} 
      - let actionid = "/resource/italianDish/" + dishId
      form(id='dishForm', action=actionid, method="PUT") 
        div(class="form-group row mb-2") 
            label.italianDishAttr(for='dishName', class='col-4 col-from-label') Dish Name 
            div(class='col-6' style='width: 250px;')
              input#dishName(class='form-control', type='text', name='DishName', value=`${dishName}`) 
        div(class="form-group row mb-2") 
            label.italianDishAttr(for='dishPrice', class='col-4 col-from-label') Dish Price
            div(class='col-6' style='width: 250px;') 
              input#dishPrice(class='form-control', type='number', name='dishPrice', step='any', value=`${dishPrice}`) 
        div(class="form-group row mb-2") 
            label.italianDishAttr(for='mainIngredient', class='col-4 col-from-label') Main Ingredient
            div(class='col-6' style='width: 250px;')
              input#mainIngredient(class='form-control' type='text', name='mainIngredient', value=`${mainIngredient}`) 
        input(class='btn btn-success' type="submit" style='width: 150px; margin: 6px;') 
 
  script. 
    document.forms['dishForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 